# بيئة العمل الافتراضية
venv/
env/

# ملفات بايثون المؤقتة
__pycache__/
*.pyc

# قواعد البيانات (لا نريد رفع بياناتك التجريبية للعلن)
*.sqlite
*.db
instance/
static/uploads
map.md

# المتغيرات البيئية (إذا استخدمتها لاحقاً لحفظ كلمات المرور)
.env
